@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", "Outfit", "Segoe UI", sans-serif;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-bg-light: #f8fafc;
  --color-bg-dark: #0f172a;
}

body {
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
